# How to consume Github Package private registry with yarn?

registry=https://registry.yarnpkg.com/

@amjr:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=<your auth token>
always-auth=true

## How to get the token?

https://github.com/settings/tokens